/// <mls fileReference="_102020_/l2/serviceCollabMessages.less" enhancement="_102020_/l2/enhancementStyle"/>

service-collab-messages-102020 {

    display: block;
    position: relative;
    overflow: hidden !important;

}


